html {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;

}

body {
    height: 100%;
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: auto 4fr;
    margin: 0;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: rgb(37, 150, 190);
    color: white;
    display: grid;
    align-items: start;
    grid-template-rows: repeat(2, auto) 1fr;
    /* grid-template-rows: min-content 220px 1fr; */
    gap: 1rem;
    justify-items: start;
    padding: 1rem;

}

.sidebar > svg {
    color: white;

}

.sidebar .logo h3 {
    margin: 0;
    font-size: 2rem;
}

.logo {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    padding: 1rem;
}

.sidebar > ul {
    display: grid;
    gap: 1rem;
    padding-left: 0;
}

.sidebar > ul > li {
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 1rem;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    /* justify-self: center; */
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.search > input {
    border-radius: 20px;
    border: none;
    background-color: hotpink;
    height: 1rem;
    padding: 0.5rem;
}

.profile-info {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;

}

.greeting {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0.5rem;
}

.message {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    font-style: italic;
}

.user {
    grid-column: 2;
    grid-row: 2;
}

.greeting img {
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.buttons {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.buttons > button {
    background-color: blue;
    border: none;
    color: white;
    font-family: inherit;
    border-radius: 20px;
    height: 1.5rem;

}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.main-content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    background-color: silver;
    gap: 1rem;
}

.projects {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

}

.card {
    background-color: white;
    padding: 1rem;
    border-left: solid 0.5rem goldenrod;
    /* max-height: 200px; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 20px;

}

.card > .title {
    font-weight: bold;
}

.card > p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card > div {
    display: grid;
    justify-self: end;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding-right: 1rem;
}
.projects h3 {
    grid-row: 1;
    grid-column: 1 / -1;
}

.content-side {
    display: grid;
    grid-template-rows: auto 1fr
}

.announcements {
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements > ul {
    padding-left: 0;
    border-radius: 20px;
    background-color: white;
}

.announcements > ul > li {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin: 1rem;

}

.announcements > ul > li:last-child {
    border-bottom: none;
}

.announcements > ul > li > h4 {
    margin: 0 0 1rem 0  ;
    font-weight: bold;
}

.announcements > ul > li > p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.trending > ul {
    padding-left: 0;
    border-radius: 20px;
    background-color: white;
}

.trending > ul > li {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin: 1rem;

}

.trending > ul > li:last-child {
    border-bottom: none;
}